@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap');

:root {
  color-scheme: light dark;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  color: #0093F9;  /* Primary color from the Iceblue/Montana palette */
  font-family: Comfortaa, sans-serif;
}

@media (prefers-color-scheme: dark) {
  a:link { color: lightblue }
  a:visited { color: violet }
}
